<script defer src="../app/new-post.js">

</script>
<div class="container my-2">
    <h4 class="h4 text-center">New Post</h4>
</div>

<div class="mx-5">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Enter the title of the post">
    </div>

    <div class="form-group">
        <label for="inputBody">Description</label>
        <textarea type="text" class="form-control" id="inputBody" placeholder="Enter the description" rows=8></textarea>
    </div>

    <button type="submit" class="btn btn-primary" id="btnSubmit" disabled>Submit</button>
</div>